
.block-editor__alignment-visualizer {
	z-index: 0;
}

.block-editor__alignment-visualizer-cover-element {
	// Make the iframe fit its container using flexbox.
	display: flex;

	.block-editor__alignment-visualizer-iframe {
		flex-grow: 1;
	}
}

.block-editor__alignment-visualizer-zone-label {
	// Values match capitalized label style.
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	white-space: nowrap;
	margin: $grid-unit-05 0;
}
