
.block-editor__alignment-visualizer {
	z-index: 0;
}

.block-editor__alignment-visualizer-iframe {
	overflow: hidden;
}

.block-editor__alignment-visualizer-zone-label {
	font-size: $default-font-size;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	margin: $grid-unit-05 0;
	opacity: 0;
	transition: opacity 0.1s linear;

	&.is-highlighted {
		opacity: 0.7;
	}
}
