.edit-site-sidebar-navigation-item.components-item,
.edit-site-sidebar-navigation-screen__content .edit-site-navigation-inspector .components-button {
	color: $gray-600;
	border-width: $border-width-tab;

	&:hover,
	&:focus {
		color: $white;
		background: $gray-800;
		border-width: $border-width-tab;
	}

	&[aria-current] {
		color: $white;
		background: var(--wp-admin-theme-color);
		border-width: $border-width-tab;
	}
}
